*{
	font-family: 'Montserrat', sans-serif; 
	color: #e7e9ea;
	letter-spacing: -1.2;
	transition-property: background-color color;
	transition-duration: 0.2s;
}

a{
	text-decoration: none;
}

.grid__container{
    display: grid;
     grid-template-columns: 0.65fr 0.95FR 0.85fr;
/*grid-template-rows: 100vh max-content max-content;*/
     /* grid-template-rows: repeat(auto-fit, minmax(900px, 50vh)); */
     /*grid-template-rows: 100vh 1500vh 100vh;*/
     grid-template-rows:  0.3fr min-content 0.3fr;
     background-color: #000;
}

.container-left{
	display: flex;
	position: sticky;
	top: 0;
	flex-direction: column;
	/*width: 0.1fr*/
	justify-content: space-between;
	align-items: center;
	
	height: 100vh;
	}



